@use '../scss_global/global.style' as *;

section {
    @include display(flex, space-around, center, row);
    @include position(relative, 99, 100vh, 100%);
    background-color: $c-bg;
    color: $c-fg;

    >div.pictures {
        @include display(flex, space-between, center, column);
        @include position(relative, 99, 668px, 668px);

        >img.front {
            @include position(absolute, 2, 568px, 568px);
            border-radius: 30px;
            margin-left: 32px;
        }

        >img.behind {
            @include position(absolute, 1, 568px, 568px);
            margin-top: 32px;
        }
    }
}

h3 {
    @include display(flex, flex-start, center, column);
    font-family: var(--ff-karla);
    font-size: 24px;
    line-height: 21.6px;
    color: $c-accent;
    padding-bottom: 10px;
    padding-left: 10px;
}

.about-me-container {
    @include display(flex, center, flex-start, column);
    @include position(null, null, 530px, 536px);
    font-family: var(--ff-karla);
    font-size: 18px;
    border-radius: 30px;
    border: 1px solid $c-accent;
    background-color: rgb(31, 46, 43);
    color: #FFFFFF;
    padding: 32px;
    gap: 40px;

    >h4 {
        font-family: var(--ff-fira);
        font-size: 64px;
        letter-spacing: -0.03em;
        color: $c-accent;
    }

    >div {
        @include display(flex, center, center, column);
        font-family: var(--ff-karla);
        font-size: 18px;
        color: #ffffffad;
        gap: 32px;
        height: 100%;
    }
}

.icon-pos {
    height: 100%;
}

img.icon {
    @include position(absolute, 99, 26px, 21px);
    object-fit: contain;
}

span {
    height: 100%;
}

span.hover-text:hover {
    color: #ffffffed;
}

#targeRed {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

div.layout-section {
    @include display(flex, center, center, column);
    @include position(absolute, -1, 100%, 100%);
    inset: 0;
    pointer-events: none;
    background-image: url("../../assets/img/background_skill.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

@include respond(1400px) {
    section {
        @include display(flex, center, center, column);

        >div.pictures {
            @include position(absolute, 99, 568px, 568px);

            >img.front {
                @include position(absolute, 1, 468px, 468px);
            }

            >img.behind {
                @include position(absolute, 99, 468px, 468px);
            }
        }
    }

    .about-me-container {
        @include position(absolute, 99, 430px, 436px);
        font-size: 16px;
        gap: 16px;

        >h4 {
            font-size: 54px;
        }

        >div {
            font-size: 16px;
        }
    }
}

@include respond(1150px) {
    section>div.pictures {
        @include position(absolute, 99, 568px, 526px);
    }

    .about-me-container {
        @include position(absolute, 99, 530px, 320px);
    }
}

@include respond(950px) {
    section {
        @include display(flex, space-around, column);
        @include position(absolute, 99, 1096px, 100%);
    }

    .about-me-container {
        @include position(430px, 436px);
    }
}

@include respond(850px) {
    div.layout-section {
        height: 127%;
    }
}

@include respond(710px) {
    div.layout-section {
        height: 134%;
    }
}

@include respond(560px) {
    section {
        @include position($h: 1196px);

        >div.pictures {
            @include display($d: flex);
            width: 306px;

            >img.front {
                @include position($z: 1, $h: 386px, $w: 386px);
                margin-left: 16px;
            }

            >img.behind {
                @include position($h: 386px, $w: 386px);
                margin-right: 16px;
            }
        }
    }

    .about-me-container {
        @include position($h: 580px, $w: 336px);

        >h4 {
            font-size: 48px;
        }
    }
}

@include respond(450px) {
    section {
        @include position($h: 1196px);

        >div.pictures {
            >img.front {
                @include position($z: 1, $h: 298px, $w: 298px);
                margin-left: 16px;
            }

            >img.behind {
                @include position($h: 298px, $w: 298px);
                margin-right: 16px;
            }
        }
    }

    .about-me-container {
        @include position($h: 680px, $w: 248px);
    }

    div.layout-section {
        height: 148%;
    }
}