<section id="aboutme">
    <div class="pictures">
        <img class="front" src="./../../assets/img/TeeGarden.png">
        <img class="behind" src="./../../assets/img/personal_background.png">
    </div>
    <div>
        <h3>Who I Am</h3>
        <div class="about-me-container">
            <h4>About me</h4>
            <span>
                Hi, I`m german speaking Frontend Developer based in
                Hannover, Motivated by the limitless opportunities within IT,
                I am excited about crafting visually captivating and intuitive
                websites and applications.
            </span>
            <div>
                <div class="icon-pos">
                    <img class="icon" src="./../../assets/img/location_on.png">
                </div>
                <span>
                    Flexible in terms of working environments, I can work
                    effectivley both on-site remotely.
                </span>
            </div>
            <div>
                <div class="icon-pos">
                    <img class="icon" src="./../../assets/img/cognition.png">
                </div>
                <span>
                    I am open-minded and always looking for personal
                    challanges to constantly improve my knowledge and
                    skills.
                </span>
            </div>
            <div>
                <div class="icon-pos">
                    <img class="icon" src="./../../assets/img/new_releases.png">
                </div>
                <span>
                    In my profession, programming isn't just about
                    writing code; its's creatve form of problem-solving. I
                    take pride in my ability to distill complex technical
                    challanges into simple, user-friendly solutions. This
                    way, I help you achieve your goals and bring your
                    visions to life.
                </span>
            </div>
        </div>
    </div>
</section>