<section>
    <div>
        <h1>What my colleagues say about me</h1>
        <div class="comment-field"> 
            <div class="show-container">
                <div class="single-comment-field preview left">
                    <span>
                        {{ preText[currentIndex].text }}
                        <div class="line"></div>
                        {{ preText[currentIndex].name }}
                    </span>
                </div>
                <div class="single-comment-field">
                    <span>
                        {{ preText[(currentIndex + 1) % preText.length].text }}
                        <div class="line"></div>
                        {{ preText[(currentIndex + 1) % preText.length].name }}
                    </span>
                </div>
                <div class="single-comment-field preview right">
                    <span>
                        {{ preText[(currentIndex + 2) % preText.length].text }}
                        <div class="line"></div>
                        {{ preText[(currentIndex + 2) % preText.length].name }}
                    </span>
                </div>
            </div>
            <div>
                <a class="prev" (click)="prevSlide()">&lt;</a>
                <a class="next" (click)="nextSlide()">&gt;</a>
            </div>
        </div>
    </div>
</section>