<section>
    <div>
        <h1>What my colleagues say about me</h1>
        <div class="comment-field">
            <div class="single-comment-field">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum officia atque amet blanditiis
                    voluptates ducimus numquam quos non distinctio nam doloremque explicabo, facilis aliquid? Vero dicta
                    consequatur fuga quidem dolor.</p>
                    <div class="line"></div>
                <p>Der Name des Lorem Ipsum</p>
            </div>
            <diV></diV>
        </div>
    </div>
</section>