<section>
    <div>
        <h1>{{ languageService.currentHeader.headerrevaluation }}</h1>
        <div class="comment-field">
            <div class="show-container">
                <div class="quotes-img-pos">
                    <img class="quotes" src="../../assets/img/quotes.png">
                </div>
                @for(offset of [0, 1, 2, 3, 4];track offset; let index = $index) {
                <div [ngClass]="animationClasses[index]">
                    <span>
                        {{ getReevaluationText(index) }}
                        <div class="place-name">
                            <div class="line"></div>
                            {{ getReevaluationName(index) }}
                        </div>
                    </span>
                </div>
                }
            </div>
            <div class="box-shadow"></div>
            <div class="box-shadow-second"></div>
        </div>
        <div class="place-arrows">
            <button class="b-left" (click)="changeSlide('left')">
                <div class="left-arrow"></div>
            </button>
            @for(slide of slides; track slide; let i = $index) {
            <div class="point-slider" [ngClass]="{ 'active': isActive(i) }"></div>
            }
            <button class="b-right" (click)="changeSlide('right')">
                <div class="right-arrow"></div>
            </button>
        </div>
    </div>
</section>