@mixin display($d: flex, $j: center, $a: center, $f: column) {
  display: $d;
  justify-content: $j;
  align-items: $a;
  flex-direction: $f;
}

@mixin position($p: absolute, $z: 99, $h: 100%, $w: 100%) {
  position: $p;
  z-index: $z;
  height: $h;
  width: $w;
}

section {
  @include display();
  @include position($p: unset, $z: unset, $h: 100vh);
  background-color: rgb(28, 28, 28);
  color: #FFFFFFCC;

  >div {
    @include display();
    width: 100%;
    overflow: hidden;

    >h1 {
      color: #3DCFB6;
      font-family: Fira_Code;
      font-size: 32px;
      text-align: left;
      margin-bottom: 48px;
    }
  }
}

.single-comment-field {
  @include display();
  @include position($p: unset, $z: unset, $h: 300px, $w: 600px);
  border-style: solid;
  border-width: 1px;
  border-color: #3DCFB6;
  background-color: #2b3a37;
  border-radius: 16px;
  font-family: Fira_Code;

  >span {
    @include display();
    width: 100%;
  }
}

.show-mid-color {
  background-color: #3DCFB64D;
}

.preview {
  @include position($p: unset, $z: unset, $h: 250px, $w: 500px);
  margin: 32px;
  background-color: #2b3a37;
}

.show-container {
  @include display($f: row);
  width: 100%;

  >div.quotes-img-pos {
    @include display($a: baseline, $j: baseline, $f: unset);
    @include position($z: unset, $h: 322px, $w: 700px);
  }
}

img.quotes {
  @include position($h: unset, $w: unset);
}

.box-shadow {
  @include position($z: unset, $h: 400px);
  box-shadow: inset 625px 0px 150px 0px rgba(28, 28, 28, 0.5),
    inset -625px 0px 150px -220px rgba(28, 28, 28, 0.5);
}

.box-shadow-second {
  @include position($z: unset, $h: 400px);
  box-shadow: inset 150px 0px 15px 0px rgba(28, 28, 28, 1),
    inset -150px 0px 15px 0px rgba(28, 28, 28, 1);
}

.comment-field {
  @include display();
  overflow: hidden;
}

.place-name {
  @include display($f: row);
  @include position($p: unset, $z: unset, $h: 32px);
  gap: 16px;
}

.line {
  @include position($p: unset, $z: unset, $h: 1px, $w: 200px);
  background-color: #3DCFB6;
}

.d-none {
  display: none;
}

div.left-arrow {
  @include position($p: unset, $z: unset, $h: 36px, $w: 36px);
  background-position: center;
  background-size: contain;
  background-repeat: hidden;
  background-image: url("../../assets/img/left-arrow.png");
}

div.left-arrow:hover {
  @include position($p: unset, $z: unset, $h: 36px, $w: 36px);
  background-position: center;
  background-size: contain;
  background-repeat: hidden;
  background-image: url("../../assets/img/left-arrow-move.png");
}

div.right-arrow {
  @include position($p: unset, $z: unset, $h: 36px, $w: 36px);
  background-position: center;
  background-size: contain;
  background-repeat: hidden;
  background-image: url("../../assets/img/right-arrow.png");
}

div.right-arrow:hover {
  @include position($p: unset, $z: unset, $h: 36px, $w: 36px);
  background-position: center;
  background-size: contain;
  background-repeat: hidden;
  background-image: url("../../assets/img/right-arrow-move.png");
}

.place-arrows {
  @include display($f: row);
  margin-top: 32px;
  padding-top: 32px;
  width: 100%;
  gap: 18px;

  >button {
    border: none;
  }

  >button.b-right:active {
    transform: translateX(-5px);
  }

  >button.b-left:active {
    transform: translateX(5px);
  }
}

.point-slider {
  @include display($f: row);
  @include position($p: unset, $z: unset, $h: 12px, $w: 12px);
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: gray;
  display: inline-block;
  border-radius: 50%;
}

.point-slider.active {
  background-color: white;
}

.left {
  animation: animaOutLeft 1s ease-in-out;
}

.left-right {
  animation: animaInLeftToRight 1s ease-in-out;
}

.right {
  animation: animaInRight 1s ease-in-out;
}

.right-right {
  animation: animaOutRight 1s ease-in-out;
}

.mid-left {
  animation: animaMidLeft 1s ease-in-out;
  transform: scale(0.85) translateX(-700px);
}

.mid-right {
  animation: animaMidRight 1s ease-in-out;
  transform: scale(0.85) translateX(-700px);
}

.left-in {
  animation: animaLeftIn 1s ease-in-out;
  margin-left: -525px;
}

.right-in {
  transform: scale(1.15);
  animation: animaRightIn 1s ease-in-out;
  margin-right: -525px;
}

@keyframes animaRightIn {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-550px);
  }
}

@keyframes animaLeftIn {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(550px);
  }
}

@keyframes animaMidLeft {
  0% {
    transform: scale(1) translateX(0px);
  }

  100% {
    transform: scale(0.84) translateX(-700px);
  }
}

@keyframes animaMidRight {
  0% {
    transform: scale(1) translateX(0px);
  }

  100% {
    transform: scale(0.84) translateX(700px);
  }
}

@keyframes animaOutLeft {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-700px);
  }
}

@keyframes animaInRight {
  0% {
    transform: scale(1) translateX(0px);
  }

  100% {
    transform: scale(1.1755) translateX(-500px);
  }
}

@keyframes animaOutRight {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(700px);
  }
}

@keyframes animaInLeftToRight {
  0% {
    transform: scale(1) translateX(0px);
  }

  100% {
    transform: scale(1.185555) translateX(500px);
  }
}

@media (max-width:1700px) {
  .box-shadow {
    box-shadow: inset 425px 0px 150px -220px rgba(28, 28, 28, 0.5),
      inset -425px 0px 150px -220px rgba(28, 28, 28, 0.5);
  }
}

@media (max-width:1200px) {
  .box-shadow {
    box-shadow: inset 225px 0px 200px -220px rgba(28, 28, 28, 0.5),
      inset -225px 0px 200px -220px rgba(28, 28, 28, 0.5);
  }
}

@media (max-width:950px) {
  .box-shadow {
    box-shadow: none;
  }

  .box-shadow-second {
    box-shadow: inset 72px 0px 15px 0px rgb(28, 28, 28),
      inset -72px 0px 15px 0px rgb(28, 28, 28);
  }
}

@media (max-width: 800px) {
  .single-comment-field {
    width: 500px;
  }

  .show-container {
    >div.quotes-img-pos {
      height: 318px;
      width: 628px;
    }
  }
}