<!-- <div class="cc-ring" [class.hidden]="!visible" [class.active]="active" [class.interactive]="interactive"
    [style.--x.px]="ringX - RING / 2" [style.--y.px]="ringY - RING / 2" [style.--s]="interactive ? 1.18 : 1">
</div> -->

<div class="cc-dot" [class.hidden]="!visible" [class.active]="active" [class.interactive]="interactive"
    [style.--x.px]="targetX - DOT / 2" [style.--y.px]="targetY - DOT / 2">
</div>
<!-- <div class="cc-ring" [class.hidden]="!visible" [class.active]="active" [class.interactive]="interactive"
    [style.--x.px]="ringX - RING / 2" [style.--y.px]="ringY - RING / 2" [style.--s]="interactive ? 1.18 : 1">
</div> -->

<div class="cc-dot" [class.hidden]="!visible" [class.active]="active" [class.interactive]="interactive"
    [style.--x.px]="targetX - DOT / 2" [style.--y.px]="targetY - DOT / 2">
</div>