section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(28, 28, 28);
    color: #FFFFFFCC;

    >div.preview-projects {
        display: flex;
        justify-content: center;
        width: 280px;

        >div {
            display: flex;
            justify-content: end;
            position: absolute;
        }
    }

    >div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 880px;

        >div.portfolio-header {
            display: flex;
            flex-direction: column;
            justify-content: start;

            >h1 {
                padding-bottom: 32px;
                font-family: Fira_Code;
                font-size: 64px;
                letter-spacing: -0.03em;
                text-align: left;
                color: #3DCFB6;
            }

            >h2 {
                padding-bottom: 32px;
                font-family: Karla;
                font-size: 24px;
                font-weight: 700;
                line-height: 28.06px;
                text-align: left;
                color: #3DCFB6;
            }

            >span {
                width: 456px;
                height: 44px;
                padding-bottom: 32px;
                font-family: Karla;
                font-size: 18px;
                color: #FFFFFF;
                gap: 0px;
                opacity: 0px;
            }
        }

        >div.projects {
            display: flex;
            align-items: start;
            flex-direction: column;

            >div.single-project {
                display: flex;
                justify-content: space-around;
                width: 100%;
                align-items: center;
                height: 109px;

                >div.place-single-project {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    width: 800px;

                    h3 {
                        font-family: Fira_Code;
                        font-size: 24px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #FFFFFF;
                    }

                    span {
                        font-family: Karla;
                        font-size: 18px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #FFFFFF;
                    }

                    >div {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }
                }
            }

            >div.single-project:hover {
                background-color: #37af9b52;
                cursor: pointer;
            }
        }
    }
}

.short-line {
    width: 1px;
    height: 20px;
    background-color: #3DCFB6;
}

.longe-line {
    width: 100%;
    height: 1px;
    background-color: #3DCFB6;
}

div.single-project:hover div.image-preview {
    opacity: 0.9;
    visibility: visible;
}

img.pre {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

img.back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 300px;
    margin-top: 20px;
    margin-left: 40px;
    object-fit: cover;
    border-radius: 30px;
}

.set-background {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

div.pos-next-button {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;

    >button.next-button {
        display: flex;
        justify-content: end;
        align-items: center;
        border: none;
        width: 240px;

        >span {
            position: absolute;
            margin-right: 48px;
            font-family: Karla;
            font-size: 18px;
            text-align: left;
            color: #3DCFB6;
        }

        img {
            position: absolute;
        }

        img.second {
            visibility: hidden;
        }
    }

    >button.next-button:hover .next-span {
        color: #FFFFFF;
    }

    >button.next-button:hover img.second {
        visibility: visible;
    }
}

.next-button:hover img.second {
    visibility: visible;
}

.next-button:hover img.first {
    visibility: hidden;
}

.next-button:hover .next-span {
    color: #FFFFFF;
}


app-project-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
