@use '../scss_global/global.style' as *;

section {
    @include display(flex, space-around, center, row);
    @include position(null, null, 100vh, 100%);
    background-color: $c-bg;
    color: $c-fg;
    overflow: hidden;

    >div.preview-projects {
        width: 280px;

        >div {
            position: absolute
        }
    }

    >div {
        @include display(flex, center, null, column);
        width: 880px;

        .portfolio-header {
            @include display(flex, center, start, column);

            h1 {
                padding-bottom: 32px;
                font-family: var(--ff-fira);
                font-size: 64px;
                line-height: 1;
                color: $c-accent;
            }

            h2 {
                padding-bottom: 32px;
                font-family: var(--ff-karla);
                font-size: 24px;
                line-height: 28.06px;
                color: $c-accent;
            }

            span {
                @include position(null, null, 44px, 456px);
                padding-bottom: 32px;
                font-family: var(--ff-karla);
                font-size: 18px;
            }
        }

        .projects {
            .single-project {
                @include display(flex, center, center, column);
                @include position(null, null, 109px, 100%);

                .place-single-project {
                    @include display(flex, space-between, center, row);
                    width: 800px;

                    >div:first-child img {
                        padding-left: 6px
                    }

                    h3 {
                        font-family: var(--ff-fira);
                        font-size: 24px;
                    }

                    span {
                        font-family: var(--ff-karla);
                        font-size: 18px;
                    }

                    >div {
                        @include display(flex, center, center, row);
                        gap: 4px
                    }
                }

                &:hover {
                    background-color: rgba($c-accent, .32);
                    cursor: pointer
                }
            }
        }
    }
}

.back-distance-bot {
    padding-bottom: 200px
}

.back-distance-top {
    padding-top: 200px
}

.short-line {
    @include position(null, null, 20px, 1px);
    background-color: $c-accent
}

.longe-line {
    @include position(null, null, 1px);
    background-color: $c-accent
}

img.pre,
img.back {
    object-fit: cover;
    border-radius: 30px
}

img.pre {
    @include position(absolute, 1, 300px, 500px)
}

img.back {
    @include position(absolute, null, 300px, 500px);
    margin-top: 20px;
    margin-left: 40px
}

.set-background {
    @include display(flex, baseline, center, column);
    @include position(relative, unset, 100%, 100%)
}

app-project-cart {
    @include display(flex, center, center, row);
    @include position($z: unset)
}

$psp: ">div.projects>div.single-project>div.place-single-project";

@include respond(1700px) {
    section {
        div.preview-projects {
            width: 158px
        }
    }
}

@include respond(1550px) {
    section {
        >div {
            width: 750px;

            #{$psp} {
                width: 650px
            }
        }
    }

    img.pre {
        @include position($z: 1, $h: 260px, $w: 440px)
    }

    img.back {
        @include position($z: unset, $h: 260px, $w: 440px)
    }
}

@include respond(1400px) {
    section {
        >div {
            width: 600px;

            #{$psp} {
                width: 550px
            }
        }
    }
}

@include respond(1250px) {
    section {
        >div {
            width: 412px;

            #{$psp} {
                align-items: start;
                flex-direction: column;
                width: 400px;
                gap: 10px
            }
        }
    }
}

@include respond(1075px) {
    section {
        justify-content: start;

        >div {
            padding-left: 32px
        }

        >div.preview-projects {
            padding-left: 252px
        }
    }
}

@include respond(975px) {
    section {
        justify-content: center;

        div.preview-projects {
            display: none
        }

        >div {
            width: 780px;
            padding-left: 0;

            #{$psp} {
                width: 700px
            }
        }
    }
}

@include respond(850px) {
    section {
        >div {
            width: 480px;
            padding-left: 0;

            #{$psp} {
                width: 400px
            }
        }
    }
}

@include respond(650px) {
    section {
        >div {
            width: 380px;

            #{$psp} {
                width: 300px
            }
        }
    }
}

@include respond(550px) {
    section {
        >div {
            width: 280px;

            >div.portfolio-header>span {
                width: 280px
            }

            #{$psp} {
                width: 280px;

                span {
                    font-size: 15px
                }
            }
        }
    }
}