<section id="projects">
    <div>
        <div class="portfolio-header">
            <h2>Portfolio</h2>
            <h1>Featured Projects</h1>
            <p>Explore a selection of my work here - Interact with
                projects to see my skills in action.
            </p>
        </div>
        <div class="projects">
            <div class="longe-line"></div>
            <div (click)="toggleModal()" class="single-project">
                <div class="place-single-project">
                    <h3>Join</h3>
                    <div>
                        <p>Angular</p>
                        <div class="short-line"></div>
                        <p>TypeScript</p>
                        <div class="short-line"></div>
                        <p>HTML</p>
                        <div class="short-line"></div>
                        <p>CSS</p>
                        <div class="short-line"></div>
                        <p>Firebase</p>
                    </div>
                </div>
            </div>
            <div class="longe-line"></div>
            <div class="single-project">
                <div class="place-single-project">
                    <h3>El Pollop Loco</h3>
                    <div>
                        <p>HTML</p>
                        <div class="short-line"></div>
                        <p>CSS</p>
                        <div class="short-line"></div>
                        <p>JavaScript</p>
                    </div>
                </div>
            </div>
            <div class="longe-line"></div>
            <div class="single-project">
                <div class="place-single-project">
                    <h3>Da Bubble</h3>
                    <div>
                        <p>Angular</p>
                        <div class="short-line"></div>
                        <p>Firebase</p>
                        <div class="short-line"></div>
                        <p>TypeScript</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="preview-projects">
        <div>
            <p>Work</p>
        </div>
    </div>
    @if(this.hideModal === true) {
    <div (click)="toggleModal()" class="preview">

    </div>
    }
</section>