<section>
    <div class="back-button-pos">
        <button class="b-left" (click)="back()">
            <img class="left-arrow" [src]="leftArrowSrc" (mouseenter)="onLeftEnter()" (mouseleave)="onLeftLeave()"
                alt="left">
        </button>
    </div>

    <div class="impressum">
        <h1>{{ languageService.imprint.title }}</h1>
        <p>{{ languageService.imprint.infoLine }}</p>

        <p>
            {{ languageService.imprint.addressName }} <br>
            {{ languageService.imprint.addressCareOf }} <br>
            {{ languageService.imprint.addressStreet }} <br>
            {{ languageService.imprint.addressCity }} <br>
            {{ languageService.imprint.addressCountry }}
        </p>

        <p>
            <strong>{{ languageService.imprint.representedByLabel }}</strong><br>
            {{ languageService.imprint.representedByName }}<br>
        </p>

        <p>
            <strong>{{ languageService.imprint.contactLabel }}</strong><br>
            {{ languageService.imprint.phoneLabel }} {{ languageService.imprint.phone }}<br>
            {{ languageService.imprint.emailLabel }}
            <a href="mailto:data.devcontain@gmail.com">{{ languageService.imprint.emailText }}</a>
        </p>

        <p>
            <strong class="headercolor">{{ languageService.imprint.disclaimerLabel }}</strong>
            <br><br>
            <strong class="headercolor">{{ languageService.imprint.contentTitle }}</strong>
            <br><br>
            {{ languageService.imprint.contentText }}
            <br><br>
            <strong class="headercolor">{{ languageService.imprint.linksTitle }}</strong>
            <br><br>
            {{ languageService.imprint.linksText }}
            <br><br>
            <strong class="headercolor">{{ languageService.imprint.copyrightTitle }}</strong>
            <br><br>
            {{ languageService.imprint.copyrightText }}
            <br><br>
            <strong class="headercolor">{{ languageService.imprint.privacyTitle }}</strong>
            <br><br>
            {{ languageService.imprint.privacyText }}
        </p>
        <br>

        {{ languageService.imprint.footerPrefix }}
        <a [href]="languageService.imprint.generatorUrl" target="_blank" rel="noopener">
            {{ languageService.imprint.generatorName }}
        </a>
        {{ languageService.imprint.toggleValue }}
        <span>der</span>
        <a [href]="languageService.imprint.lawfirmUrl" target="_blank" rel="noopener">
            {{ languageService.imprint.lawfirmName }}
        </a>
    </div>
</section>