section {
    height: 70vh;
    background-color: rgb(28, 28, 28);
    display: flex;
    align-items: start;
    justify-content: space-around;
    width: 100%;
    color: #FFFFFFCC;
    // overflow-x: hidden;
    // z-index: 99;

    >div.contact-me {
        display: flex;
        flex-direction: column;
        // width: 880px;
        height: 100%;
        overflow-x: hidden;
        cursor: default;

        >div {
            padding-top: 32px;
        }

        >h1 {
            font-family: Fira_Code;
            font-size: 64px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -0.03em;
            text-align: left;
            color: #3DCFB6;
            padding-top: 16px;
        }

        >h2 {
            font-family: Karla;
            font-size: 24px;
            font-weight: 700;
            line-height: 28.06px;
            text-align: left;
            color: #3DCFB6;
            padding-bottom: 32px;
        }

        >h2.distance-second {
            padding-top: 32px;
        }

        >span {
            font-family: Karla;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: justified;
            color: #FFFFFF;
            width: 100%;
            gap: 0px;
            opacity: 0px;
        }

        >div span {
            font-family: Karla;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: justified;
            color: #FFFFFF;
            width: 100%;
            gap: 0px;
            opacity: 0px;
        }

        >div span.farbcode-green {
            color: #3DCFB6;
        }
    }

    >div.form-contain {
        display: flex;
        width: 616px;
        overflow-x: hidden;

        >form {
            display: flex;
            align-items: start;
            flex-direction: column;

            .contact-question {
                color: #3DCFB6;
                font-family: Fira_Code;
                font-size: 24px;
                font-weight: 500;
                line-height: 28.8px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                padding-bottom: 32px;
                cursor: default;
            }

            >div.longe-line {
                height: 1px;
                background-color: #3DCFB6;
                width: 100%;
            }

            >.ll1:hover {
                opacity: 1;
            }

            div.ll1:hover div.ll2 {
                opacity: 1;
            }

            >div.ll1 {
                opacity: 0.5;
            }

            >div.con-information-pos {
                display: flex;
                align-items: start;
                flex-direction: column;
                padding: 32px;
                // height: 100%;
                // width: 100%;
            }

            >div.con-information-pos.cip1:hover .ll1 {
                opacity: 1;
            }

            >div.con-information-pos:hover div.ll1 {
                opacity: 1;
            }
        }

        >form:hover .ll1 {
            opacity: 1;
        }

    }
}

div.ll1:hover div.ll2 {
    opacity: 0.1;
}

.con-police-pos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Karla;
    height: 75px;
    font-size: 15px;
    width: 100%;

    >div {
        display: flex;
        flex-direction: row;

        >span {
            display: inline-block;
            cursor: default;

            >a {
                color: #3DCFB6;
                padding-right: 6px;
                padding-left: 6px;
                cursor: default;
            }

            >a:hover {
                color: #FFFFFF;
            }
        }
    }

    >span {
        display: flex;
        justify-content: baseline;
        width: 100%;
        position: relative;
        padding-top: 10px;
    }
}

.con-button-pos {
    display: flex;
    justify-content: center;
    // position: absolute;
    width: 100%;
    padding-top: 32px;
    z-index: 99;
}

.valid-massage {
    color: #EC7B7B;
    font-family: Karla;
    cursor: default;
}

input {
    display: flex;
    background-color: rgb(28, 28, 28);
    border: none;
    height: 32px;
    width: 332px;
    outline: none;
    box-sizing: border-box;
    color: #3DCFB6;
    font-family: Karla;
    font-size: 24px;
}

::placeholder {
    color: #3DCFB6;
    font-family: Karla;
    font-size: 24px;
}

input:focus {
    border: none;
}

textarea {
    outline: none;
    background-color: rgb(28, 28, 28);
    height: 32px;
    width: 500px;
    border: none;
    color: #3DCFB6;
    font-family: Karla;
    font-size: 24px;
    resize: none;
    // min-height: 32px;
    // max-height: 500px;
    // field-sizing: content;
    // overflow: hidden;
    min-block-size: 3.5rlh;
    min-inline-size: 20ch;
    max-inline-size: 50ch;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 22px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container:hover span {
    cursor: pointer;
    z-index: 99;
    border-radius: 100%;
    background-color: #3DCFB6;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: rgb(28, 28, 28);
    border: 2px solid #3DCFB6;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: rgb(28, 28, 28);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: rgb(28, 28, 28);
    border-radius: 100%;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid #3DCFB6;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}