<section>
    <div>
        <h3>Contact me</h3>
        <h1>Let's work
            together
        </h1>
        <h2>Got a problem to solve</h2>
        <p>Contact me through this form, I am interestd in hearing from you,
            knowing your ideas and contributing to your projects with my work.
        </p>
        <div>
            <p>Need a Frontend developer?</p>
            <p>Let's talk!</p>
        </div>
    </div>
    <div>
        <div class="line"></div>
        <div>
            JOIN
        </div>
    </div>
</section>
<app-footer></app-footer>