<section id="contact">
    <div class="contact-me">
        <h2>{{ languageService.contact.headeroverbox }}</h2>
        <h1>{{ languageService.contact.headbefore }}<br>
            {{ languageService.contact.headafter }}
        </h1>
        <h2 class="distance-second">{{ languageService.contact.underhead }}</h2>
        <span>{{ languageService.contact.descriptbefore }}<br>{{ languageService.contact.descriptafter }}
        </span>
        <div>
            <span>{{ languageService.contact.question }}</span>
            <span style="padding-left: 6px;" class="farbcode-green">{{ languageService.contact.reply }}</span>
        </div>
    </div>
    <div class="form-contain">
        <form autocomplete="off" class="kontaktformular position-contact-elements" (ngSubmit)="sendMail(contactForm)"
            #contactForm="ngForm" id="contact-me">
            <div class="longe-line ll1"></div>
            <div class="con-information-pos cip1" (click)="this.focusInput(nameInput)" tabindex="0"
                aria-label="Name eingeben">
                <span class="contact-question">{{ languageService.contact.name }}</span>
                <input #nameInput autocomplete="off" required #name="ngModel" id="name" minlength="2"
                    [(ngModel)]="contactData.name" class="name" type="text" name="name"
                    placeholder="{{ languageService.contact.name }}">
                @if(!name.valid && name.touched) {
                <span class="valid-massage">{{ languageService.contact.missingname }}</span>
                }
            </div>
            <div class="longe-line ll2"></div>
            <div class="con-information-pos cip2" (click)="this.focusInput(mailInput)" tabindex="0"
                aria-label="E-Mail eingeben">
                <span class="contact-question">{{ languageService.contact.email }}</span>
                <input #mailInput autocomplete="off" required #mail="ngModel" [(ngModel)]="contactData.email"
                    class="namemail" type="email" name="email" placeholder="{{ languageService.contact.email }}"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                @if(!mail.valid && mail.touched) {
                <span class="valid-massage">{{ languageService.contact.missingmail }}</span>
                }
            </div>
            <div class="longe-line ll3"></div>
            <div class="con-information-pos cip3" (click)="this.focusInput(messageInput)" tabindex="0"
                aria-label="Nachricht eingeben">
                <span class="contact-question">{{ languageService.contact.message }}</span>
                <textarea #messageInput autocomplete="off" required #message="ngModel" minlength="6"
                    [(ngModel)]="contactData.message" class="nachricht" name="message"
                    placeholder="{{ languageService.contact.message }}"></textarea>
                @if(!message.valid && message.touched) {
                <span class="valid-massage">{{ languageService.contact.missingmassage }}</span>
                }
            </div>
            <div class="longe-line ll4"></div>
            <div class="con-police-pos">
                <div>
                    <label class="container">
                        <input required [checked]="false" [(ngModel)]="checked" type="checkbox" name="myCheckbox">
                        <span class="checkmark"></span>
                    </label>
                    <span>{{ languageService.contact.policytxtbefore }}<a>{{ languageService.contact.policyicealink
                            }}</a>{{ languageService.contact.policyafter }}</span>
                </div>

                @if(checked === false) {
                <span class="valid-massage">{{ languageService.contact.missingpolicy }}</span>
                }
            </div>
            <div class="con-button-pos">
                <button required class="button" type="submit" name="submit-button" form="contact-me" value="Submit">
                    <span class="btn-span-one">{{ languageService.contact.button }}</span>
                    <span class="btn-span-sec">{{ languageService.contact.button }}</span>
                </button>
            </div>
        </form>
    </div>
</section>