section {
    height: 100vh;
    background-color: rgb(28, 28, 28);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: #FFFFFFCC;

    >div {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 880px;

        >h1 {
            font-family: Fira_Code;
            font-size: 64px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -0.03em;
            text-align: left;
            color: #3DCFB6;
        }

        >h2 {
            font-family: Karla;
            font-size: 24px;
            font-weight: 700;
            line-height: 28.06px;
            text-align: left;
            color: #3DCFB6;
        }

        >p {
            font-family: Karla;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: justified;
            color: #FFFFFF;
            width: 456px;
            gap: 0px;
            opacity: 0px;
        }
    }

    >div {
        display: flex;
        width: 616px;

        >form {
            display: flex;
            align-items: start;
            flex-direction: column;

            .contact-question {
                color: #3DCFB6;
                font-family: Fira_Code;
                font-size: 24px;
                font-weight: 500;
                line-height: 28.8px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                padding-bottom: 32px;
            }
        }
    }
}

.longe-line {
    height: 1px;
    background-color: #3DCFB6;
    opacity: 0.5;
    width: 100%;
}

.con-information-pos {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 32px;
}

.con-police-pos {
    display: flex;
    font-family: Kiara;
    font-size: 24px;
}

.con-button-pos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 32px;
}

.valid-massage {
    color: #EC7B7B;
    font-family: Kiara;
}

input {
    display: flex;
    background-color: rgb(28, 28, 28);
    border: none;
    cursor: pointer;
    height: 32px;
    width: 332px;
    outline: none;
    box-sizing: border-box;
    color: #3DCFB6;
    font-family: Kiara;
    font-size: 24px;
}

::placeholder {
    color: #3DCFB6;
    font-family: Kiara;
    font-size: 24px;
}

input:focus {
    border: none;
}

textarea {
    outline: none;
    background-color: rgb(28, 28, 28);
    height: 32px;
    width: 332px;
    border: none;
    cursor: pointer;
    color: #3DCFB6;
    font-family: Kiara;
    font-size: 24px;
    resize: none;
    overflow: auto;
}