<app-header></app-header>

<section>
    <div class="headline">
        <h2>Frontend Developer</h2>
        <h1>Sebastian Peters</h1>
        <div>
            <button>check my work</button>
            <button>contact me</button>
        </div>
    </div>
    <div class="banner">
        @for (item of banneritems; track item; let index = $index;) {
        <p>{{ banneritems[index] }}</p>
        <img [src]="pointimg">
        <!-- <p>Frontend Developer</p>
        <img src="./../../assets/img/point_green.png">
        <p>Based in Hannover</p>
        <img src="./../../assets/img/point_green.png">
        <p>Open to work</p>
        <img src="./../../assets/img/point_green.png">
        <p>Available to work</p> -->
        }
    </div>
</section>