section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 316px;
    left: 343px;
    gap: 12px;

    >div {
        display: flex;
        justify-content: center;
        z-index: 6;
        width: 363px;
        height: 48px;
        gap: 48px;
    }
}

h1 {
    font-family: Karla;
    font-size: 128px;
    letter-spacing: -0.02em;
    color: #D9D9D9;
}

h2 {
    color: #D9D9D9;
    font-family: Fira_Code;
    font-size: 40px;
}

app-marquee {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.arrow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 32px;
    height: 48px;
    margin-left: 164px;
    margin-bottom: 264px;
    border: 1px solid #3DCFB6;
    border-radius: 16px;
}

.arrow {
    display: flex;
    color: #FFFFFF;
    font-size: 20px;
    animation: arrow-marquee ease-in-out 1s infinite;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.line-left-pos {
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 150px;
    height: 100vh;
}

.line-left {
    position: absolute;
    width: 1px;
    height: 240px;
    margin-left: 180px;
    background-color: #3DCFB6;
}

.git-pos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: 180px;
    margin-right: 151px;
    margin-bottom: 214px;

    >img:last-child {
        visibility: hidden;
        width: 10px;
        height: 10px;
        margin-left: 4px;
    }
}

.git-pos:hover img:last-child {
    visibility: visible;
    cursor: pointer;
}

.git-pos:hover div:first-child {
    background-image: url('../../assets/img/github_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.git-pos div:first-child {
    width: 32px;
    height: 32px;
    background-image: url('../../assets/img/github_green.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.git-pos:hover {
    visibility: visible;
    cursor: pointer;
}

.mail-pos {
    display: flex;
    position: absolute;
    margin-right: 94px;
    margin-bottom: 343px;
    rotate: -90deg;

    >a {
        font-family: Karla;
        font-size: 18px;
        text-decoration: none;
        text-align: left;
        color: #FFFFFF;
    }

    >a:hover {
        color: #3DCFB6;
    }
}

.line-right-pos {
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    z-index: 2;
    width: 150px;
    height: 100vh;
}

.line-right {
    position: absolute;
    width: 1px;
    height: 200px;
    margin-right: 180px;
    background-color: #3DCFB6;
}

@keyframes arrow-marquee {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(4px);
    }
}