<app-header></app-header>

<section>
    <div class="headline">
        <h2>Frontend Developer</h2>
        <h1>Sebastian Peters</h1>
        <div>
            <button>
                <span>check my work</span>
            </button>

            <button><span>contact me</span></button>
        </div>
    </div>

    <!-- <div class="banner">
        <div class="first-words">
            @for (item of banneritems; track item; let index = $index;) {
            <p>{{ banneritems[index] }}</p>
            <img class="point-img" [src]="pointimg">
            }
        </div>
        <div class="first-words secound-words">
            @for (item of banneritems; track item; let index = $index;) {
            <p>{{ banneritems[index] }}</p>
            <img class="point-img" [src]="pointimg">
            }
        </div>
    </div> -->

    <div class="banner2">
        <div class="marquee">
            <!-- <p>This is text - This is text - This is text - This is text - This is text - This is text - This is text
                - This is text - This is text - This is text - This is text - This is text -&nbsp;</p> -->
            <p>
                @for (item of banneritems; track item; let index = $index;) {
                {{ banneritems[index] }}
                <img class="point-img" [src]="pointimg">
                }
            </p>
            <!-- <p>Frontend Developer
                <img src="./../../assets/img/point_green.png">
                Based in Hannover
                <img src="./../../assets/img/point_green.png">
                Open to work
                <img src="./../../assets/img/point_green.png">
                Available to work
                <img src="./../../assets/img/point_green.png">
            </p> -->
        </div>
        <div class="marquee marquee2">
            <!-- <p>This is text - This is text - This is text - This is text - This is text - This is text - This is text
                - This is text - This is text - This is text - This is text - This is text -&nbsp;</p> -->
            <!-- @for (item of banneritems; track item; let index = $index;) {
            <p>{{ banneritems[index] }}</p>
            <img class="point-img" [src]="pointimg">
            } -->
            <p>
                @for (item of banneritems; track item; let index = $index;) {
                {{ banneritems[index] }}
                <img class="point-img" [src]="pointimg">
                }
            </p>
            <!-- <p>Frontend Developer
                <img src="./../../assets/img/point_green.png">
                Based in Hannover
                <img src="./../../assets/img/point_green.png">
                Open to work
                <img src="./../../assets/img/point_green.png">
                Available to work
                <img src="./../../assets/img/point_green.png">
            </p> -->
        </div>
    </div>

</section>