<app-header></app-header>

<section>
    <div class="headline">
        <h2>{{ languageService.currentHeader.bannertxta }}</h2>
        <h1>Sebastian Peters</h1>
        <div>
            <button (click)="scrollToId('projects')">
                <span class="btn-span-one">{{ languageService.currentHeader.buttonleft }}</span>
                <span class="btn-span-sec">{{ languageService.currentHeader.buttonleft }}</span>
            </button>

            <button (click)="scrollToId('contact')">
                <span class="btn-span-one">{{ languageService.currentHeader.buttonright }}</span>
                <span class="btn-span-sec">{{ languageService.currentHeader.buttonright }}</span>
            </button>
        </div>
    </div>

    <div class="line">
        <div class="line-left-pos">
            <div class="arrow-box">
                <span class="arrow">&#8595;</span>
            </div>
            <div class="line-left"></div>
        </div>
        <div class="line-right-pos">
            <div class="mail-pos">
                <a href="">mech.peters&#64;mail.de</a>
            </div>
            <div class="git-pos">
                <div>
                </div>
                <img src="../../assets/img/point_green.png">
            </div>
            <div class="line-right"></div>
        </div>
    </div>
    <app-marquee></app-marquee>
</section>