<div (click)="backgroundClick()" class="preview">
    @if (this.carts.setJoin === true) {
    <div (click)="$event.stopPropagation()" class="cart-layer">
        <div class="project-description">
            <h4>
                01
            </h4>
            <h1>Join</h1>
            <h2>What is this project about?</h2>
            <span>
                Task manager inspired by the Kanba System.
                Create and organize tasks using drag and drop functions, assign
                users and categories.
            </span>
            <div>
                <div>
                    <img src="../../assets/img/scss-cart.png">
                    <span class="cart-font-icon">CSS</span>
                </div>
                <div>
                    <img src="../../assets/img/html-cart.png">
                    <span class="cart-font-icon">HTML</span>
                </div>
                <div>
                    <img src="../../assets/img/firebase-cart.png">
                    <span class="cart-font-icon">Firebase</span>
                </div>
                <div>
                    <img src="../../assets/img/Angular-cart.png">
                    <span class="cart-font-icon">Angular</span>
                </div>
                <div>
                    <img src="../../assets/img/typeScript-cart.png">
                    <span class="cart-font-icon">TypeScript</span>
                </div>
            </div>
            <div>
                <div style="gap: 24px;">
                    <button>
                        <span class="btn-cart">GitHub</span>
                        <div class="btn-arrow"></div>
                    </button>

                    <button>
                        <span class="btn-cart">Life test</span>
                        <div class="btn-arrow"></div>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div class="cart-rightside-pos">
                <div class="closes"></div>
                <div class="cart-radius">
                    <img class="cart-preview" src="../../assets/img/joinPreview-cart.png">
                </div>
                <div class="pos-next-button">
                    <button class="next-button">
                        <span class="next-span">Next project</span>
                        <img class="first" src="../../assets/img/arrow-hirizontal.png">
                        <img class="second" src="../../assets/img/arrow-horizontale-moved.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
    } @else if (this.carts.setElPolloLoco === true) {
    <div (click)="$event.stopPropagation()" class="cart-layer">
        <div class="project-description">
            <h4>
                02
            </h4>
            <h1>EL Pollo Loco</h1>
            <span>What is this project about?</span>
            <span>
                Jump, run and throw game based on object-oriented
                approach. Help Pepe to find coins and tabasco salsa to
                fight against the crazy hen.
            </span>
            <div>
                <div>
                    <img src="../../assets/img/scss-cart.png">
                    <span class="cart-font-icon">CSS</span>
                </div>
                <div>
                    <img src="../../assets/img/html-cart.png">
                    <span class="cart-font-icon">HTML</span>
                </div>
                <div>
                    <img src="../../assets/img/firebase-cart.png">
                    <span class="cart-font-icon">Firebase</span>
                </div>
            </div>
            <div>
                <div style="gap: 24px;">
                    <button>
                        <span class="btn-cart">GitHub</span>
                        <div class="btn-arrow"></div>
                    </button>

                    <button>
                        <span class="btn-cart">Life test</span>
                        <div class="btn-arrow"></div>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="closes"></div>
                <div class="cart-radius">
                    <img class="cart-preview" src="../../assets/img/elPolloPreview-cart.png">
                </div>
                <button>
                    <span>Next project</span>
                    <div class="nextes"></div>
                </button>
            </div>
        </div>
    </div>
    } @else if (this.carts.setDaBubble === true) {
    <div (click)="$event.stopPropagation()" class="cart-layer">
        <div class="project-description">
            <h4>
                02
            </h4>
            <h1>EL Pollo Loco</h1>
            <span>What is this project about?</span>
            <span>
                Jump, run and throw game based on object-oriented
                approach. Help Pepe to find coins and tabasco salsa to
                fight against the crazy hen.
            </span>
            <div>
                <div>
                    <img src="../../assets/img/scss-cart.png">
                    <span class="cart-font-icon">CSS</span>
                </div>
                <div>
                    <img src="../../assets/img/html-cart.png">
                    <span class="cart-font-icon">HTML</span>
                </div>
                <div>
                    <img src="../../assets/img/firebase-cart.png">
                    <span class="cart-font-icon">Firebase</span>
                </div>
            </div>
            <div>
                <div style="gap: 24px;">
                    <button>
                        <span class="btn-cart">GitHub</span>
                        <div class="btn-arrow"></div>
                    </button>

                    <button>
                        <span class="btn-cart">Life test</span>
                        <div class="btn-arrow"></div>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="closes"></div>
                <div class="cart-radius">
                    <img class="cart-preview" src="../../assets/img/elPolloPreview-cart.png">
                </div>
                <button>
                    <span>Next project</span>
                    <div class="nextes"></div>
                </button>
            </div>
        </div>
    </div>
    }
</div>