<div (click)="close()" class="preview">
    <!-- @if (this.carts.setJoin === true) { -->
    <div (click)="$event.stopPropagation()" class="cart-layer">
        <div class="project-description">
            <div class="project-headers">
                @if(this.carts.setJoin === true) {
                <h4>{{ languageService.join.cardnumber }}</h4>
                <h1>{{ languageService.join.headercard }}</h1>
                } @else if(this.carts.setElPolloLoco === true) {
                <h4>{{ languageService.loco.cardnumber }}</h4>
                <h1>{{ languageService.loco.headercard }}</h1>
                } @else if(this.carts.setDaBubble === true) {
                <h4>{{ languageService.bubble.cardnumber }}</h4>
                <h1>{{ languageService.bubble.headercard }}</h1>
                }
            </div>
            <h2>{{ languageService.currentHeader.headercart }}</h2>
            @if (this.carts.setJoin === true) {
            <span>{{ languageService.join.descriptcard }}</span>
            } @else if(this.carts.setElPolloLoco === true) {
            <span>{{ languageService.loco.descriptcard }}</span>
            } @else if(this.carts.setDaBubble === true) {
            <span>{{ languageService.loco.descriptcard }}</span>
            }
            <div>
                <div>
                    <img src="../../assets/img/scss-cart.png">
                    <span class="cart-font-icon">CSS</span>
                </div>
                <div>
                    <img src="../../assets/img/html-cart.png">
                    <span class="cart-font-icon">HTML</span>
                </div>
                <div>
                    <img src="../../assets/img/Angular-cart.png">
                    <span class="cart-font-icon">Angular</span>
                </div>
                <div>
                    <img src="../../assets/img/typeScript-cart.png">
                    <span class="cart-font-icon">TypeScript</span>
                </div>
            </div>
            <div class="place-btn">
                <div class="btn-gap">
                    <button (click)="goToPage()">
                        <span class="btn-cart">GitHub</span>
                        <div class="btn-arrow"></div>
                    </button>

                    <button>
                        <span class="btn-cart">{{ languageService.currentHeader.testbtncard }}</span>
                        <div class="btn-arrow"></div>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div class="cart-rightside-pos">
                <div (click)="close()" class="closes"></div>
                <div class="cart-radius">
                    <img class="cart-preview" src="../../assets/img/joinPreview-cart.png">
                </div>
                <div class="pos-next-button">
                    <button class="next-button">
                        <span class="next-span">{{ languageService.currentHeader.nextbtncard }}</span>
                        <img class="first" src="../../assets/img/arrow-hirizontal.png">
                        <img class="second" src="../../assets/img/arrow-horizontale-moved.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>