@use '../../scss_global/global.style' as *;

.pos-next-button {
    @include display(flex, null, center, column);
    width: 100%;

    >.next-button {
        @include display(flex, center, end, column);
        border: none;
        width: 240px;

        >.next-span {
            position: absolute;
            margin-right: 48px;
            font-family: var(--ff-karla);
            font-size: 18px;
            color: $c-accent;
            text-align: left;
        }

        img {
            position: absolute;
        }
    }

    >.next-button:hover .next-span {
        color: $c-fg;
    }
}

.cart-layer {
    @include display(flex, center, center);
    border-radius: 30px;
    border: 1px solid $c-accent;
    background: linear-gradient(55.22deg, $c-bg 36.26%, rgba($c-accent, .35) 93.28%);
    font-family: var(--ff-karla);
    font-size: 18px;
    color: $c-fg;
    margin: 42px;
    position: absolute;
}

.preview {
    @include display(flex, center, center);
    @include position(fixed, 999, 100%, 100%);
    inset: 0;
    background-color: rgba($c-bg, .76);
}

.project-description {
    @include display(flex, center, null, column);
    gap: 16px;
    padding-left: 64px;

    >.project-headers {
        @include display(flex, start, start, column);
        gap: 16px;

        >h4 {
            font-family: var(--ff-karla);
            font-size: 128px;
            line-height: 128px;
            color: $c-accent;
        }

        >h1 {
            font-family: var(--ff-fira);
            font-size: 64px;
            line-height: 64px;
            color: $c-fg;
        }
    }

    >h2 {
        font-family: var(--ff-fira);
        font-size: 24px;
        line-height: 24px;
        color: $c-accent;
        word-spacing: -4px;
    }

    >div {
        @include display(flex, baseline, center);
        gap: 16px;

        >div {
            display: flex;
            gap: 16px;

            >span {
                display: flex;
                align-items: center;
            }
        }
    }

    >.place-btn>.btn-gap {
        gap: 16px;
    }
}

.cart-rightside-pos {
    @include display(flex, center, end, column);
    padding-inline: 128px 80px;
}

.closes {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.cart-preview {
    @include position(relative, null, 370px, 520px);
    border-radius: 30px;
    object-fit: cover;
}

.cart-radius {
    margin: 64px 0;
    border-radius: 30px;
}

.btn-arrow {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

button:hover .btn-cart {
    color: $c-accent;
}

.cart-font-icon {
    color: $c-fg;
}

@include respond(1350px) {
    .project-description {
        width: 330px;

        >div {
            width: 330px;
            flex-wrap: wrap;
        }
    }
}

@include respond(1200px) {
    .project-description {
        justify-content: start;
        width: 518px;
        height: 500px;

        >div {
            width: 518px;
            flex-wrap: wrap;
        }

        >.project-headers {
            padding-top: 14px;

            >h4 {
                font-size: 80px;
                line-height: 80px;
            }

            >h1 {
                font-size: 64px;
                line-height: 64px;
            }
        }
    }

    .cart-preview {
        height: 334px;
    }

    .cart-layer {
        flex-direction: column-reverse;
        align-items: start;
    }

    .cart-rightside-pos {
        padding-inline: 64px;
    }

    .cart-radius {
        margin: 32px 0 0;
    }

    .closes {
        margin-top: 32px;
    }

    .next-button {
        position: absolute;
        top: 842px;
    }
}

@include respond(800px) {
    .project-description {
        padding-left: 32px;
    }

    .cart-rightside-pos {
        padding-inline: 32px;
    }
}

@include respond(675px) {
    .cart-preview {
        height: 268px;
        width: 384px;
    }

    .project-description {
        width: 384px;

        >.project-headers {
            padding-top: 6px;
            width: 384px;
            gap: 16px;

            >h4 {
                font-size: 58px;
                line-height: 58px;
            }

            >h1 {
                font-size: 52px;
                line-height: 52px;
            }
        }

        >div {
            width: 384px;
        }

        >.place-btn {
            padding-top: 18px;
            justify-content: center;
        }
    }

    .next-button {
        top: 786px;
    }
}

@include respond(540px) {
    .cart-preview {
        height: 228px;
        width: 284px;
    }

    .project-description {
        justify-content: start;
        width: 284px;
        padding-left: 16px;

        >h2 {
            font-size: 18px;
            line-height: 18px;
        }

        >div {
            width: 284px;
            flex-wrap: wrap;
        }

        >.place-btn>.btn-gap {
            gap: 12px;
        }
    }

    .next-button {
        top: 754px;
    }

    .cart-rightside-pos {
        padding-inline: 16px;
    }

    button {
        width: 132px;
        height: 42px;
    }
}