<section id="skills">
    <div class="skill-pos">
        <div class="responisve-pos">
            <div class="header-pos">
                <h3>{{ languageService.currentHeader.skillsa }}</h3>
            </div>
            <div class="skill-set-container">
                <h4>{{ languageService.currentHeader.skillsb }}</h4>
                <span>{{ languageService.currentHeader.skillsc }}</span>
                <div class="width">
                    <h5 class="white">{{ languageService.currentHeader.skillsd }}</h5>
                    <h5 class="green">{{ languageService.currentHeader.skillse }}</h5>
                </div>
                <span>{{ languageService.currentHeader.skillsf }}</span>
                <div>
                    <button (click)="scrollToId('contact')">
                        <span class="btn-span-one">{{ languageService.currentHeader.skillsbutton }}</span>
                        <span class="btn-span-sec">{{ languageService.currentHeader.skillsbutton }}</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="icon-container-pos">
            <div class="icons">
                <div>
                    <img src="./../../assets/img/html.png">
                    <span>HTML</span>
                </div>
                <div>
                    <img src="./../../assets/img/css.png">
                    <span>CSS</span>
                </div>
                <div>
                    <img src="./../../assets/img/javaScript.png">
                    <span>JavaScript</span>
                </div>
                <div>
                    <img src="./../../assets/img/marterialDesign.png">
                    <span>Material<br>Design</span>
                </div>
                <div>
                    <img src="./../../assets/img/typeScript.png">
                    <span>TypeScript</span>
                </div>
                <div>
                    <img src="./../../assets/img/angular.png">
                    <span>Angular</span>
                </div>
                <div>
                    <img src="./../../assets/img/firebase.png">
                    <span>Firebase</span>
                </div>
                <div>
                    <img src="./../../assets/img/git.png">
                    <span>GIT</span>
                </div>
                <div>
                    <img src="./../../assets/img/api.png">
                    <span>Rest-Api</span>
                </div>
                <div>
                    <img src="./../../assets/img/scrum.png">
                    <span>Scrum</span>
                </div>
                <div>
                    <img src="./../../assets/img/capa.png">
                    <span>
                        Growth
                        mindest
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>