@use '../scss_global/global.style' as *;

section {
    @include display(flex, space-around, center, column);
    @include position(relative, 2, 100vh, 100%);
    background-color: $c-bg;
    color: $c-fg;
    opacity: 0.85;
    cursor: default;

    >div {
        width: 100%;
    }
}

.skill-set-container {
    @include display(flex, center, baseline, column);
    @include position(absolute, 99, 530px, 536px);

    /* ▼ Fonts statt Mixins */
    font-family: var(--ff-karla);
    font-size: 18px;
    line-height: 21.6px;

    border-radius: 30px;
    border: 1px solid $c-accent;
    background-color: rgb(31, 46, 43);
    color: #fff;
    padding: 32px;
    gap: 40px;

    >h4 {
        /* ▼ Fonts statt Mixins */
        font-family: var(--ff-fira);
        font-size: 64px;
        line-height: 64px;

        letter-spacing: -0.03em;
        text-align: left;
        color: $c-accent;
    }

    >div {
        /* ▼ Fonts statt Mixins */
        font-family: var(--ff-karla);
        font-size: 18px;

        text-align: left;
        color: #ffffffad;
    }
}

.header-pos {
    @include display(flex, baseline, baseline, column);
    margin-top: -40px;
}

.skill-pos {
    @include display(flex, space-around, flex-start, row);
    width: 100%;
}

h3 {
    /* ▼ Fonts statt Mixins */
    font-family: var(--ff-karla);
    font-size: 24px;

    color: $c-accent;
    padding-bottom: 10px;
    padding-left: 10px;
}

h5 {
    /* ▼ Fonts statt Mixins */
    font-family: var(--ff-fira);
    font-size: 24px;
    line-height: 28.8px;
}

.white {
    color: #fff;
}

.green {
    color: $c-accent;
    padding-left: 14px;
}

.width {
    @include display(flex, baseline, baseline, row);
    width: 100%;
}

img.icon {
    @include position(absolute, 99, 32px, 32px);
}

.icon-container-pos {
    @include display(flex, flex-end, center, column);
    width: 632px;
}

.icons {
    @include position(absolute, 99, 428px, 632px);
    @include display(flex, center, center, column);
    flex-wrap: wrap;
    gap: 72px;

    >div {
        @include display(flex, center, center, column);
        @include position(absolute, 99, 116px, 104px);
        gap: 8px;

        >img {
            @include position(absolute, 99, 60px, 60px);
        }

        >img:hover {
            transform: scale(1.078);
        }

        >span {
            /* ▼ Fonts statt Mixins */
            font-family: var(--ff-fira);
            font-size: 18px;
            line-height: 21.6px;

            letter-spacing: -0.03em;
            width: 100%;
            text-align: center;
        }
    }
}

/* ---------- Responsive ---------- */

@include respond(1400px) {
    .skill-pos {
        @include display(flex, center, center, row);
    }

    .skill-set-container {
        @include position($h: 430px, $w: 436px);
        gap: 32px;
    }

    .icons {
        @include position($h: 428px, $w: 512px);
        gap: 32px;
    }

    .icon-container-pos {
        width: 564px;
    }

    .skill-set-container {
        font-size: 16px;

        /* statt karla-font */
        >h4 {
            font-size: 54px;
        }

        /* statt fira-font */
        >div {
            font-size: 16px;
        }

        /* statt karla-font */
    }
}

@include respond(1150px) {
    .skill-set-container {
        @include position($h: 430px, $w: 380px);
        gap: 24px;
    }

    .icons {
        @include position($h: 428px, $w: 436px);
        gap: 28px;
    }

    .icon-container-pos {
        width: 480px;
    }
}

@include respond(1050px) {
    .skill-set-container {
        @include position($h: 528px, $w: 336px);
        gap: 32px;
    }

    .icons {
        @include position($h: 428px, $w: 368px);
        gap: 28px;
    }

    .icon-container-pos {
        width: 380px;
    }
}

@include respond(850px) {
    section {
        height: 1200px;
    }

    .skill-pos {
        flex-direction: column;
        gap: 24px;
    }

    .skill-set-container {
        @include position($h: 428px, $w: 436px);
        gap: 32px;
    }

    .icons {
        @include position($h: 428px, $w: 512px);
        gap: 28px;
    }

    .icon-container-pos {
        width: 526px;
    }
}

@include respond(560px) {
    .skill-set-container {
        @include position($h: 528px, $w: 336px);
        gap: 32px;
    }

    .icons {
        @include position($h: 428px, $w: 368px);
        gap: 28px;
    }

    .icon-container-pos {
        width: 380px;
    }
}

@include respond(450px) {
    section {
        height: 1300px;
    }

    .skill-set-container {
        @include position($h: 628px, $w: 248px);
        gap: 32px;
    }

    .icons {
        @include position($h: 428px, $w: 368px);
        gap: 16px;
    }

    .icon-container-pos {
        width: 380px;
    }
}

@include respond(410px) {
    .icon-container-pos {
        width: 400px;
    }

    .icons {
        gap: 8px;

        >div>span {
            font-size: 14px;
        }
    }
}