<section id="skills">
    <div class="skill-pos">

        <div>
            <div class="header-pos">
                <h3>Technologies</h3>
            </div>
            <div class="skill-set-container">
                <h4>Skill Set</h4>
                <span>
                    My journey has involved working on diverse projects,
                    employing a range of frontend technologies and
                    concepts. I am open to empracing new technologies
                    and methodolohies to Continously enhance my skills
                    and stay ahead in the ever-evolving landscape of web
                    develepment.
                </span>
                <div class="width">
                    <h5 class="white">You need</h5>
                    <h5 class="green">another skill</h5>
                </div>
                <span>
                    Feel free ton contact me. I look forward to
                    expanding on my previous knowledge
                </span>
                <div>
                    <button (click)="scrollToId('contact')">
                        <span class="btn-span-one">Lets Talk</span>
                        <span class="btn-span-sec">Lets Talk</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="icons">
            <div>
                <img src="./../../assets/img/html.png">
                <span>HTML</span>
            </div>
            <div>
                <img src="./../../assets/img/css.png">
                <span>CSS</span>
            </div>
            <div>
                <img src="./../../assets/img/javaScript.png">
                <span>JavaScript</span>
            </div>
            <div>
                <img src="./../../assets/img/marterialDesign.png">
                <span>Material<br>Design</span>
            </div>
            <div>
                <img src="./../../assets/img/typeScript.png">
                <span>TypeScript</span>
            </div>
            <div>
                <img src="./../../assets/img/angular.png">
                <span>Angular</span>
            </div>
            <div>
                <img src="./../../assets/img/firebase.png">
                <span>Firebase</span>
            </div>
            <div>
                <img src="./../../assets/img/git.png">
                <span>GIT</span>
            </div>
            <div>
                <img src="./../../assets/img/api.png">
                <span>Rest-Api</span>
            </div>
            <div>
                <img src="./../../assets/img/scrum.png">
                <span>Scrum</span>
            </div>
            <div>
                <img src="./../../assets/img/capa.png">
                <span>
                    Growth
                    mindest
                </span>
            </div>
        </div>
    </div>
</section>