<section id="skills">
    <div>
        <div>
            <h3>Technologies</h3>
            <div class="skill-set-container">
                <h4>Skill Set</h4>
                <p>
                    My journey has involved working on diverse projects,
                    employing a range of frontend technologies and
                    concepts. I am open to empracing new technologies
                    and methodolohies to Continously enhance my skills
                    and stay ahead in the ever-evolving landscape of web
                    develepment.
                </p>
                <div>
                    <h5>You need andother skill</h5>
                    <p>
                        Feel free ton contact me. I look forward to
                        expanding on my previous knowledge
                    </p>
                </div>
                <div>
                    <button (click)="scrollToId('contact')">
                        <span class="btn-span-one">Lets Talk</span>
                        <span class="btn-span-sec">Lets Talk</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="icons">
            <div>
                <img src="./../../assets/img/html.png">
                <p>HTML</p>
            </div>
            <div>
                <img src="./../../assets/img/css.png">
                <p>CSS</p>
            </div>
            <div>
                <img src="./../../assets/img/javaScript.png">
                <p>JavaScript</p>
            </div>
            <div>
                <img src="./../../assets/img/marterialDesign.png">
                <p>Material<br>Design</p>
            </div>
            <div>
                <img src="./../../assets/img/typeScript.png">
                <p>TypeScript</p>
            </div>
            <div>
                <img src="./../../assets/img/angular.png">
                <p>Angular</p>
            </div>
            <div>
                <img src="./../../assets/img/firebase.png">
                <p>Firebase</p>
            </div>
            <div>
                <img src="./../../assets/img/git.png">
                <p>GIT</p>
            </div>
            <div>
                <img src="./../../assets/img/api.png">
                <p>Rest-Api</p>
            </div>
            <div>
                <img src="./../../assets/img/scrum.png">
                <p>Scrum</p>
            </div>
            <div>
                <img src="./../../assets/img/capa.png">
                <p>
                    Growth
                    mindest
                </p>
            </div>
        </div>
    </div>
</section>