<div class="marquee marquee--8">
    <span class="marquee__item banner-text">{{ languageService.currentHeader.bannertxta }}
    </span>
    <span class="marquee__item"><img class="banner-point" [src]="pointimg" alt=""></span>
    <span class="marquee__item banner-text">{{ languageService.currentHeader.bannertxtb }}
    </span>
    <span class="marquee__item"><img class="banner-point" [src]="pointimg" alt=""></span>
    <span class="marquee__item banner-text">{{ languageService.currentHeader.bannertxtc }}
    </span>
    <span class="marquee__item"><img class="banner-point" [src]="pointimg" alt=""></span>
    <span class="marquee__item banner-text">{{ languageService.currentHeader.bannertxtd }}
    </span>
    <span class="marquee__item"><img class="banner-point" [src]="pointimg" alt=""></span>
</div>