<div class="marquee marquee--8">
    <span class="marquee__item banner-text">Frontend Developer
    </span>
    <span class="marquee__item"><img class="banner-point" [src]="pointimg" alt=""></span>
    <span class="marquee__item banner-text">Based in Hannover
    </span>
    <span class="marquee__item"><img class="banner-point" [src]="pointimg" alt=""></span>
    <span class="marquee__item banner-text">Open to work
    </span>
    <span class="marquee__item"><img class="banner-point" [src]="pointimg" alt=""></span> 
    <span class="marquee__item banner-text">Available to work
    </span>
    <span class="marquee__item"><img class="banner-point" [src]="pointimg" alt=""></span>
</div>
