<section>
    <div>
        <div class="place-logo">
            <div class="logos">
            </div>
            <span>Web Developer</span>
            <span style="padding-top: 8px;">Hannover Germany</span>
        </div>
        <span>&#169; Sebastian Peters 2024</span>
        <div class="place-links">
            <div>
                <a><img class="green-point" src="../../../../assets/img/point_green.png">Github</a>
            </div>
            <div>
                <a><img class="green-point" src="../../../../assets/img/point_green.png">Email</a>
            </div>
            <div>
                <a href="legal-notice"><img class="green-point" src="../../../../assets/img/point_green.png">Legal Notice</a>
            </div>
            <div>
                <a href="imprint"><img class="green-point" src="../../../../assets/img/point_green.png">Imprint</a>
            </div>
        </div>
    </div>
</section>