<section>
    <div>
        <div class="place-logo">
            <div class="logos">
            </div>
            <span>Web Developer</span>
            <span style="padding-top: 8px;">Hannover Germany</span>
        </div>
        <span>&#169; Sebastian Peters 2024</span>
        <div class="place-links">
            <div>
                <span><img class="green-point" src="../../../../assets/img/point_green.png">Github</span>
            </div>
            <div>
                <span><img class="green-point" src="../../../../assets/img/point_green.png">Email</span>
            </div>
            <div>
                <span><img class="green-point" src="../../../../assets/img/point_green.png">Legal Notice</span>
            </div>
        </div>
    </div>
</section>