* {
    margin: 0px;
}


// font

@font-face {
    font-family: Fira_Code;
    src: url(../src/assets/fonts/Fira_Code/static/FiraCode-Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Kiara;
    src: url(../src/assets/fonts/Karla/static/Karla-Regular.ttf);
    font-weight: bold;
}