/* global.animations.scss — NUR KOMMENTARE von mir ergänzt, KEINE Änderungen am Code */

@keyframes animaOutLeft {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-700px)
    }
}

@keyframes animaOutRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(700px);
    }
}

@keyframes animaInRight {
    0% {
        transform: scale(1) translateX(0);
        ;
    }

    100% {
        transform: scale(1.1755) translateX(-500px);
    }
}

@keyframes animaInLeftToRight {
    0% {
        transform: scale(1) translateX(0);
    }

    100% {
        transform: scale(1.185555) translateX(500px);
    }
}

@keyframes animaMidLeft {
    0% {
        transform: scale(1) translateX(0);
    }

    100% {
        transform: scale(.84) translateX(-700px);
    }
}

@keyframes animaMidRight {
    0% {
        transform: scale(1) translateX(0);
    }

    100% {
        transform: scale(.84) translateX(700px);
    }
}

@keyframes animaLeftIn {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(550px);
    }
}

@keyframes animaRightIn {
    0% {
        transform: translateX(0);

    }

    100% {
        transform: translateX(-550px);
    }
}