<section>
    <div class="menu">
        <div class="background">
            <input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" checked>
            <label for="toggle-on" class="btn">EN</label>
            <input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio">
            <label for="toggle-off" class="btn">DE</label>
        </div>

        <a href="#aboutme">
            About me
            <img src="../../../../assets/img/point_green.png">
        </a>
        <a href="#skills">
            Skills
            <img src="../../../../assets/img/point_green.png">
        </a>
        <a href="#projects">
            Projects
            <img src="../../../../assets/img/point_green.png">
        </a>
    </div>
    <div class="second">
        <div class="logos">
        </div>
    </div>
</section>