<section>
    <div class="menu">
        <button>EN/DE</button>
        <a href="#aboutme">
            About me
            <img src="../../../../assets/img/point_green.png">
        </a>
        <a href="#skills">
            Skills
            <img src="../../../../assets/img/point_green.png">
        </a>
        <a href="#projects">
            Projects
            <img src="../../../../assets/img/point_green.png">
        </a>
    </div>
    <div class="second">
        <div class="logos">
        </div>
    </div>
</section>