@mixin display($d: flex, $j: center, $a: center, $f: column) {
    display: $d;
    justify-content: $j;
    align-items: $a;
    flex-direction: $f;
}

@mixin position($p: absolute, $z: 99, $h: 100%, $w: 100%) {
    position: $p;
    z-index: $z;
    height: $h;
    width: $w;
}

section {
    @include display($j: space-around, $f: row);
    position: absolute;
    color: #FFFFFFCC;
    height: 98px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);

    >div {
        @include display($j: start, $f: row);
        @include position($p: default, $z: 99, $h: default, $w: 668px);
        gap: 24px;

        nav {
            @include display($j: start, $a: center, $f: row);
            width: 100%;
            gap: 28px;

            >a {
                @include display();
                color: #FFFFFF;
                font-size: 20px;
                font-family: Fira_Code;
                text-decoration: none;
                margin-top: 6px;
                white-space: nowrap;

                >img {
                    visibility: hidden;
                }
            }

            >a:hover {
                cursor: pointer;
                color: #3DCFB6;
            }

            >a:hover img {
                background-color: url('../../../../assets/img/point_green.png');
                background-size: contain;
                background-repeat: no-repeat;
                visibility: visible;
            }
        }
    }

    >div.second {
        @include display($j: end, $f: row);
        @include position($p: default, $z: 100, $h: default, $w: 568px);
    }
}

.background {
    @include display($f: row);
    @include position($p: default, $z: 1, $h: 28px, $w: 76px);
    border: 1px solid #3DCFB6;
    border-radius: 22px;
}

.background:hover {
    border-color: #FFFFFF;
}

.btn {
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    font-family: Fira_Code;
    font-size: 16px;
}

input[type="radio"].toggle {
    display: none;

    &+label {
        cursor: pointer;
        color: #3DCFB680;

        &:hover {
            background: none;
            color: #3DCFB6;
        }

        &:after {
            @include position($z: -1, $h: 28px);
            background: #3DCFB6;
            border-radius: 18px;
            content: "";
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            top: 4px;
            height: 32px;
            width: 40px;
        }
    }

    &.toggle-left+label {
        border-right: 0;

        &:after {
            left: 100%
        }
    }

    &.toggle-right+label {
        &:after {
            left: -100%;
        }
    }

    &:checked+label {
        cursor: default;
        color: #fff;
        transition: color 200ms;

        &:after {
            left: 0;
        }
    }
}

.toggle_button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
    position: absolute;
    top: 40px;
    right: 25px;
    z-index: 9999;
}

.toggle_button:hover .bar {
    background-color: #3DCFB6;
}

.toggle_button:hover {
    cursor: pointer;
}

nav {
    display: flex;
}

.checkbox {
    display: none;
}

.bar {
    height: 2px;
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 100px;
}

@media (max-width: 1400px) {
    section {
        justify-content: center;

        >div {
            width: 40%;
        }

        >div.second {
            width: 40%;
        }
    }
}

@media (max-width: 1000px) {

    #toggle_button:checked~.menu nav {
        display: flex;
    }

    #toggle_button:checked~.menu {
        display: flex;
    }

    section {
        justify-content: start;

        >div.menu {
            @include display($d: none, $f: row);
            @include position($p: fixed, $z: 999);
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #061513c2;
        }

        >.menu nav {
            display: none;
            height: min-content;
            width: 300px;

            @include display($d: none);
            position: fixed;
            top: 100px;
            right: 8px;
            padding-top: 24px;
            padding-bottom: 24px;
            background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);

            border-radius: 30px;
            border: 1px solid #3DCFB6;
        }

        >div.second {
            justify-content: start;
            position: absolute;
            left: 25px;
        }
    }


    .toggle_button {
        display: flex;
    }
}

html.no-scroll {
    overflow-y: hidden;
}

@media (max-width: 500px) {
    section {

        >div.second {
            left: -45px;
        }
    }
}

@media (max-width: 450px) {
    section {

        >div.second {
            left: -35px;
        }
    }
}

@media (max-width: 400px) {
    section {

        >div.second {
            left: -30px;
        }
    }
}

@media (max-width: 350px) {
    section {

        >div.second {
            left: -20px;
        }
    }
}