section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    height: 50px;

    >div {
        display: flex;
        justify-content: space-between;

        >button {
            background-color: rgb(0, 0, 0, 0);
        }

        >button:hover {
            cursor: pointer;
        }

        >p {
            color: black;
            // color: #FFFFFF;
        }
    }
}

.menu {
    display: flex;
    width: 409px;
    gap: 24px;
}
