<section>
    <div class="back-button-pos">
        <button class="b-left" (click)="back()">
            <img class="left-arrow" [src]="leftArrowSrc" (mouseenter)="onLeftEnter()" (mouseleave)="onLeftLeave()"
                alt="left">
        </button>
    </div>

    <div class="data-notice">
        <h1>{{ languageService.legalNotice.s1Title }}</h1>
        <p>{{ languageService.legalNotice.s1Subtitle }}</p>
        <p>{{ languageService.legalNotice.s1P1 }}</p>

        <h1>{{ languageService.legalNotice.s2Title }}</h1>
        <p>{{ languageService.legalNotice.s2Q1 }}</p>
        <p>{{ languageService.legalNotice.s2A1 }}</p>
        <p>{{ languageService.legalNotice.s2Q2 }}</p>
        <p>{{ languageService.legalNotice.s2A2a }}</p>
        <p>{{ languageService.legalNotice.s2A2b }}</p>
        <p>{{ languageService.legalNotice.s2Q3 }}</p>
        <p>{{ languageService.legalNotice.s2A3 }}</p>
        <p>{{ languageService.legalNotice.s2Q4 }}</p>
        <p>{{ languageService.legalNotice.s2A4 }}</p>

        <h1>{{ languageService.legalNotice.s3Title }}</h1>
        <p>
            {{ languageService.legalNotice.s3P1 }}<br>
            {{ languageService.legalNotice.s3P2 }}
        </p>

        <h1>{{ languageService.legalNotice.s4Title }}</h1>
        <p>{{ languageService.legalNotice.s4Subtitle }}</p>
        <p>{{ languageService.legalNotice.s4P1 }}</p>
        <p>{{ languageService.legalNotice.s4P2 }}</p>
        <p>{{ languageService.legalNotice.s4P3 }}</p>

        <p>{{ languageService.legalNotice.s5Subtitle }}</p>
        <p>
            {{ languageService.legalNotice.s5Name }} <br>
            {{ languageService.legalNotice.s5CareOf }} <br>
            {{ languageService.legalNotice.s5Street }} <br>
            {{ languageService.legalNotice.s5City }} <br>
            {{ languageService.legalNotice.s5Country }}
        </p>
        <p>
            {{ languageService.legalNotice.s5PhoneLabel }} {{ languageService.legalNotice.s5Phone }}
        </p>
        <p>
            <a href="mailto:contact@devcontain.de">
                {{ languageService.legalNotice.s5Email }}
            </a>
        </p>
        <p>{{ languageService.legalNotice.s5ControllerText }}</p>

        <p>{{ languageService.legalNotice.s6Subtitle }}</p>
        <p>{{ languageService.legalNotice.s6P }}</p>

        <p>{{ languageService.legalNotice.s7Subtitle }}</p>
        <p>{{ languageService.legalNotice.s7P }}</p>

        <p>{{ languageService.legalNotice.s8Subtitle }}</p>
        <p>{{ languageService.legalNotice.s8P }}</p>

        <p>{{ languageService.legalNotice.s9Subtitle }}</p>
        <p>{{ languageService.legalNotice.s9P }}</p>

        <p>{{ languageService.legalNotice.s10Subtitle }}</p>
        <p>{{ languageService.legalNotice.s10P1 }}</p>
        <p>{{ languageService.legalNotice.s10P2 }}</p>

        <p>{{ languageService.legalNotice.s11Subtitle }}</p>
        <p>{{ languageService.legalNotice.s11P }}</p>

        <p>{{ languageService.legalNotice.s12Subtitle }}</p>
        <p>{{ languageService.legalNotice.s12P }}</p>

        <p>{{ languageService.legalNotice.s13Subtitle }}</p>
        <p>{{ languageService.legalNotice.s13P }}</p>

        <p>{{ languageService.legalNotice.s14Subtitle }}</p>
        <p>{{ languageService.legalNotice.s14Intro }}</p>
        <li>{{ languageService.legalNotice.s14Li1 }}</li><br>
        <li>{{ languageService.legalNotice.s14Li2 }}</li><br>
        <li>{{ languageService.legalNotice.s14Li3 }}</li><br>
        <li>{{ languageService.legalNotice.s14Li4 }}</li>
        <p>{{ languageService.legalNotice.s14Outro }}</p>

        <p>{{ languageService.legalNotice.s15Subtitle }}</p>
        <p>{{ languageService.legalNotice.s15P }}</p>

        <p>{{ languageService.legalNotice.s16SourceLabel }}</p>
        <a href="https://www.e-recht24.de/">
            {{ languageService.legalNotice.s16SourceText }}
        </a>
    </div>
</section>